input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
     display: block;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;

}

textarea {
    width: 50%;
    height: 150px;
    padding: 20px 28px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;

}



div.booking_options{
  background-color: #009999;
  height: 50px;
  color: white;
  font-size: 20px;
  padding-left: 20px;
  
}

div.form_div{
  margin-left: 70px;


}

div.fdiv{
  
  float: left;
  float-left:20px;

}

p.pera_one{
  margin-left: 150px;
}

h3.contact_us_header{
  color:black;
  margin-left: 150px;
  
}


div.footer{
	background-color: #09092a;
	margin-top: 70px;
	wi7th: 1400px;
	margin-bottom: 50px;
	height: 200px;

}
div.about_us{
	display: inline-block;
	margin-left: 200px;
}

ab.h4{
	text-decoration: underline;

}

sp.h4{
	text-decoration: underline;

}



table.booking_table{
  margin-left: 200px;
}

table.booking_table, td, th {
    border: round;
}





